[2020-10-09 16:02] sammyjava opened #1 "Gene-flanking-regions post-processor is creating extra items"
Not sure what I meant by this, but I don't think I fixed it in any case.

[2020-10-09 16:03] adf-ncgr opened #2 "links from gene families to phylotree are broken"
the links generated are to:
https://legumeinfo.org/chado_phylotree/java.lang.IllegalAccessException:%20Couldn't%20get%20field

[2020-10-09 16:04] sammyjava opened #3 "Create an account is broken"
As per @piotyama who has been unsuccessful.

[2020-10-09 16:04] sammyjava opened #4 "Link to unanalyzed genes in enrichment widget is broken"
Nothing happens; a new gene list should be shown and then created if desired. @piotyama

[2020-10-09 16:05] sammyjava opened #5 "Enable Google-based authentication"
Starting with peanutmine to make @jd-campbell happy, but should propagate to other mines eventually. It works at https://bar.utoronto.ca/thalemine/begin.do

[2020-10-09 16:06] sammyjava opened #6 "More templated queries ought to be added to PeanutMine"
Because peanuts deserve respect. @adf-ncgr

[2020-10-09 16:07] sammyjava opened #7 "Rewrite chromosome counter widget to select on genome, not organism"

[2020-10-09 16:09] sammyjava opened #8 "GWAS x-axis labelling/partioning"
current manhattan displayer is difficult to interpret wrt which chromosome the associated markers are on; also the positional info displayed in the popup is hard to interpret, due to the fact that we've lightly adapted a scatterplot view to serve the purpose. Probably switching to some other displayer altogether would be best, but I don't know enough about the implementation details to make such a

[2020-10-09 16:10] sammyjava opened #9 "GO-category selector in the GO enrichment widget"
@cann0010 In the Gene Ontology Enrichment widget, changing the ontology category (molecular_function, cellular_component, biological_process) seems not to affect the GO enrichment set in the widget display. My hypothesis: the widget displays any GO terms, from any of the categories, regardless of the Ontology selection; in other words, the Ontology selector is a red herring / nonfunctional. Why I

[2020-10-09 16:10] sammyjava commented on #9
@adf-ncgr good call; it looks like the selector for the dropdown is actually making relevant calls with appropriate filtering requested, e.g. if I change to cellular component it asks for something like:
https://mines.legumeinfo.org/legumemine/service/list/enrichment?callback=jQuery20304608373604432525_1552664953778&widget=go_enrichment_for_gene&list=Gene+list+for+all+organisms+15+Mar+2019+9.49&co

[2020-10-09 16:11] sammyjava opened #10 "GWAS displayer: less clutter, mo' betta"
Look at SoyMine issues for this one, it's long. @adf-ncgr

[2020-10-09 17:32] adf-ncgr opened #11 "LIS Link Service not being passed gene names it likes"
resulting in invalid urls and malformed descriptors being returned.
where this gets fixed is negotiable, but we should agree on what exactly is going to get passed in; traditionally it has been the "name" which was basically of the form gensp.whatever-they-called-it

perhaps it would make sense to switch to passing in "full yuck" at this point, maybe that is what you're doing already but doesn't l

[2020-10-12 16:16] sammyjava opened #12 "Check all genomic region searches"
Various results and failures reported. Check and fix. @adf-ncgr

[2020-10-12 18:03] adf-ncgr opened #13 "mines "launch page": lupinus japonicus is not a thing"
on https://mines.legumeinfo.org :
LupinMine - Lupinus albus and japonicus => LupinMine - Lupinus albus and angustifolius

on https://mines.legumeinfo.org/lupinmine/begin.do :
White and narrow-leaf lupin (Lupinus angustifolius and japonicus)  => White and narrow-leaf lupin (Lupinus albus and angustifolius)

[2020-10-12 18:38] sammyjava commented on #13
Whoa. "Brain fart." Lupin, lotus, name your poison. Remind me why we don't have a lotja mine? Just me not building one?

[2020-10-12 18:45] sammyjava commented on #13
OH now I remember - that was supposed to be a collaboration with Saskatchewan. Never happened.

[2020-10-12 18:46] sammyjava commented on #13
BirdsfootMine? TrefoilMine? Actually LotusMine sounds best.

[2020-10-12 18:53] sammyjava commented on #13
I can't grep this one -- are you looking at a cached mine?
[code]

[2020-10-12 19:01] StevenCannon-USDA commented on #13
I vote LotusMine.
It would certainly have value, as a model. It's mostly been used in Japan and Europe, but there's been good work done on it.

[2020-10-12 19:01] adf-ncgr commented on #13
looking at:
https://mines.legumeinfo.org/lupinmine/begin.do
I don't think it's cached, but I guess it's possible:
![image](https://user-images.githubusercontent.com/2009605/95781456-13605580-0c8b-11eb-94cd-37dbfc3d7fe2.png)

[2020-10-12 19:09] sammyjava commented on #13
Ah, I get it. I had already changed it but hadn't redeployed the mine.
![Screenshot_2020-10-12 LupinMine Home](https://user-images.githubusercontent.com/5657219/95782031-30495880-0c8c-11eb-9e8e-95836afc034f.png)

[2020-10-12 19:10] adf-ncgr commented on #13
Regarding LotusMine (which I agree should be a thing, though apparently it already exists and is not too far from where the Manson family hung out):
this reminds me that we have a "Gifu" accession lotus genome that Europeans had sent us and we set aside due to what seemed to be some weird annotation issues; maybe worth revisiting before hitting LotusMine "in anger"...

[2020-10-12 19:12] adf-ncgr commented on #13
looks good. closing...

[2020-10-12 19:12] #13 closed, assigned to nobody

[2020-10-12 19:18] adf-ncgr opened #14 "expression widgets not appearing on list analysis pages for mines where I would expect them to"
e.g. cowpea and bean mines; these do display expression on the gene report page, but seemingly not in the multi-gene list context.

[2020-10-12 23:41] sammyjava commented on #14
Yup, thanks. I'll put an issue in for the weird autoscaling of fonts on the heat map, which I think I used to do myself in some way.

[2020-10-12 23:41] #14 closed, assigned to nobody

[2020-10-12 23:42] sammyjava opened #15 "Heat map bag displayer: fix too-large font sizes on axes"

[2020-10-13 00:09] sammyjava commented on #11
It's really up to you. But as per a previous convo, I pulled "gensp." from "gensp.whatever-they-called-it" because "gensp.whatever-they-called-it" is not what they called it, which defeats the purpose.

It's a very simple config in web.properties, which was set up as so:
[code]
But secondaryIdentifier has changed a bit, and Gene.name is now whatever-they-called-it that comes straight from the GFF

[2020-10-13 00:22] adf-ncgr commented on #11
OK, to me it looks like you have there is:
secondaryidentifier | what-they(phytozome)-called-it (and what I guess is now what should be present for Name in gff instead of gensp.wtci if you have made these changes as we casually discussed once)
primaryIdentifier | flyck.wtci
name | what someone else (ncbi into us by way of reactome?) decided to call it ("because ncbi")

so let's go for primaryIdent

[2020-10-13 15:24] sammyjava commented on #11
Done. Updated the straight attribute link, which already works, and the LIS linkout JSON, with stuff like this:
[code]

[2020-10-13 15:24] #11 closed, assigned to nobody

[2020-10-13 15:25] sammyjava opened #16 "Use quotes on template string-matching queries"
@adf-ncgr sez: the example query on chickpea mine for Cardiolipin biosynthesis probably ought to be changed to "Cardiolipin biosynthesis" because without the quotes it seems to behave like an OR and return lots of biosynthesis stuff.

[2020-10-13 15:26] sammyjava opened #17 "General template updates"
All mines need template updates and add pathway templates to the function tab. Sam has a list of templates to check on every mine.

[2020-10-13 15:40] sammyjava commented on #2
Fixed.

[2020-10-13 15:40] #2 closed, assigned to nobody

[2020-10-13 15:41] sammyjava commented on #6
This is superseded by an all-mines all-templates issue posted today.

[2020-10-13 15:41] #6 closed, assigned to nobody

[2020-10-13 15:42] sammyjava commented on #16
Moving this to the all-mines all-templates issue.

[2020-10-13 15:42] #16 closed, assigned to sammyjava

[2020-10-13 15:42] sammyjava commented on #17
**Remember to use quotes on template string-matching queries.**

[2020-10-13 16:03] adf-ncgr commented on #11
Thanks. I've updated the linkout service to try to be gracefuller; seems to be working as hoped, but let me know if you happen to notice anything that doesn't look right.

[2020-10-13 17:25] sammyjava opened #18 "BLAST link is broken"
So fix it.

[2020-10-13 17:54] adf-ncgr commented on #18
could consider being "forward-looking" and try linking to the SequenceServer implementation that Nathan put into place; not sure this is a good idea, but pretty sure it is an idea.

[2020-10-13 17:59] sammyjava commented on #18
Actually I think we already decided to do so, or at least use a more modern LIS BLAST service than just fill-in-the-form. Isn't there a new LIS BLAST service in the works, or is that just another name for SequenceServer now?

[2020-10-13 18:01] adf-ncgr commented on #18
Umm, this is what I was thinking of:
https://legumeinfo.org/sequenceserver/

[2020-10-13 18:02] sammyjava commented on #18
Sounds good, will do.

[2020-10-13 19:02] sammyjava commented on #12
Update: all are updated with new examples and work; the issue on BeanMine was I had errantly toggled on the region search JBrowse option, which is long broken. However, due to some late data model changes, I'm having trouble with SoyMine and MedicMine and will just rebuild them with the latest data model. So I'll keep this open.

[2020-10-13 20:01] sammyjava commented on #18
Astonishingly, there seems to be no way to fill the query sequence form with a POST or GET. I've pored over the code on GitHub and they seem to only support an API that requires you to poll job completion and then pull the results, which I don't want to do. I just want to prefill the form with a sequence. Looking at search.js, it seems like they mean to support it with a URL like
[code]
but it doe

[2020-10-14 14:31] sammyjava commented on #3
Apparently it fixed itself. No issue.

[2020-10-14 14:31] #3 closed, assigned to nobody

[2020-10-14 16:21] sammyjava commented on #17
All but LegumeMine now have consistent templates on production. LegumeMine will be done after it is promoted from dev.

[2020-10-14 20:36] sammyjava opened #19 "Changes for next mine builds"
Chromosome.assemblyVersion, Supercontig.assemblyVersion are null -- set in FASTA loader and synteny loader

- [x] Done

[2020-10-15 15:06] sammyjava commented on #9
This is fixed, terminology conflict between "ontology" and "namespace", the latter being correct. Production updates are forthcoming.

[2020-10-15 15:06] #9 closed, assigned to nobody

[2020-10-15 15:13] sammyjava commented on #7
Actually have to select on the strain, since chromosomes currently do not have genome version and I'd have to use a combination thing like gensp.strain.gnm. In most cases, there is only one genome per strain. Done, production updates forthcoming.

[2020-10-15 15:13] #7 closed, assigned to nobody

[2020-10-15 16:43] sammyjava commented on #19
Yank aspects.xml and update webconfig to new standard with all displayers showing under summary.

- [x] beanmine
- [x] chickpeamine
- [x] cowpeamine
- [x] legumemine
- [x] lupinmine
- [x] medicmine
- [x] peanutmine
- [x] soymine

[2020-10-15 16:45] sammyjava commented on #19
Update webconfig to new standard
- [x] beanmine
- [ ] chickpeamine
- [ ] cowpeamine
- [ ] legumemine
- [ ] lupinmine
- [x] medicmine
- [ ] peanutmine
- [ ] soymine

[2020-10-15 16:47] sammyjava commented on #12
These are all fixed now.

[2020-10-15 16:47] #12 closed, assigned to nobody

[2020-10-15 16:50] sammyjava commented on #19
Gene flanking regions post-processor (another issue)
- [x] Done

[2020-10-15 19:59] sammyjava commented on #18
OK, I take it back, I figured it out after perusing the issues and also just looking at the form that gets generated. Here's a handy example that works and BLASTs against some phavu databases on the example NCGR SequenceServer:
[code]

[2020-10-15 20:00] sammyjava commented on #18
You can query the databases with a URL like:
[code]
or
[code]

[2020-10-15 20:04] adf-ncgr commented on #18
great, sounds like a winner! thanks for sorting it out

[2020-10-16 15:30] sammyjava commented on #18
I'd still like to just pre-fill the sequence on the SequenceServer and have the user take it from there. Posted an issue.
https://github.com/wurmlab/sequenceserver/issues/491

[2020-10-16 15:32] sammyjava commented on #1
This is the issue:
[code]

[2020-10-16 16:00] sammyjava commented on #1
OH. It's because the post-processor creates one including the gene and one not including the gene. With the same primaryIdentifier. I don't like that, it's confusing. Fixed.

[2020-10-16 16:00] #1 closed, assigned to sammyjava

[2020-10-16 16:35] sammyjava commented on #4
This should not be linked; it's an imjs bug. Issue posted.

[2020-10-16 16:35] #4 closed, assigned to sammyjava

[2020-10-16 18:45] sammyjava commented on #5
This is in the works. I made the mistake (?) of supplying a logo for the Google auth screen which it turns out forces the auth screen to be reviewed and validated by Google, because I guess the logo could be NSFW or Amazon or something. Could take weeks. But I've tested it up to the error message that Google returns, so I think it's OK. It's supported by IM, just some properties to set and do the

[2020-10-16 18:49] adf-ncgr commented on #5
surely they would use deep learning to do this more or less automagically? I'm pretty sure they'd have plenty of data available to train the NSFW-CNN on... I wonder if getting a machine to be offended by something is part of the advanced Turing Exams...

[2020-10-16 19:47] sammyjava commented on #19
New build on dev
- [x] beanmine
- [x] chickpeamine
- [x] cowpeamine
- [x] legumemine
- [x] lotusmine
- [x] lupinmine
- [x] medicmine
- [x] peanutmine
- [x] soymine

[2020-10-16 22:52] sammyjava commented on #19
Promoted to production
- [x] beanmine
- [x] chickpeamine
- [x] cowpeamine
- [x] legumemine
- [x] lupinmine
- [x] medicmine
- [x] peanutmine
- [x] soymine

[2020-10-20 17:15] sammyjava commented on #19
Update im:preferredBagType tags
- [x] beanmine
- [x] chickpeamine
- [x] cowpeamine
- [x] legumemine
- [x] lupinmine
- [x] medicmine
- [x] peanutmine
- [x] soymine

[2020-10-20 21:17] sammyjava commented on #17
LegumeMine is updated on production.

[2020-10-20 21:17] #17 closed, assigned to sammyjava

[2020-10-22 20:31] sammyjava commented on #5
Google validated the OAuth2 consent screen. Now it looks like core IM uses a deprecated API from Google+ which is no longer enable-able. I think I can update the core IM code to use the new API pretty easily, it's well documented.

[2020-10-23 16:58] sammyjava commented on #5
Thanks to @danielabutano this is now implemented on all the production mines.

[2020-10-23 16:58] #5 closed, assigned to sammyjava

[2020-10-27 15:03] sammyjava opened #20 "SoyMine search bug"
Will probably fix itself with upcoming refresh. @adf-ncgr

[2020-10-27 15:03] sammyjava commented on #20
I found this error on https://mines.legumeinfo.org/soymine/layout.jsp.

(from https://mines.legumeinfo.org/soymine/keywordSearchResults.do?searchTerm=Seed+yield+4-g1&searchSubmit=search)

[2020-10-27 15:11] sammyjava commented on #20
Also broken as per @adf-ncgr :
[code]

[2020-10-28 21:15] sammyjava commented on #19
New SequenceServer BLAST button
- [x] beanmine
- [x] chickpeamine
- [x] cowpeamine
- [x] legumemine
- [x] lupinmine
- [x] medicmine
- [x] peanutmine
- [x] soymine

[2020-10-29 00:15] sammyjava commented on #19
Calling a wrap on this iteration.

[2020-10-29 00:15] #19 closed, assigned to nobody

[2020-10-29 00:16] sammyjava commented on #18
Replaced with new SequenceServer BLAST form-button.

[2020-10-29 00:16] #18 closed, assigned to sammyjava

[2020-10-29 00:16] sammyjava commented on #20
Works in new update.

[2020-10-29 00:16] #20 closed, assigned to nobody

[2020-11-05 18:12] sammyjava opened #21 "ExpressionSample lacks ontology associations"
- Update spec to include a file with a list of samples and ontology associations (one to many, so not appropriate for the expression sample file, but similar to the phenotypes file).
- Populate ontology associations for expression samples.

[2020-12-17 15:02] sammyjava commented on #21
Um, I did this ages ago.

[2020-12-17 15:02] #21 closed, assigned to sammyjava

[2021-06-06 14:45] adf-ncgr opened #22 "google sign in option broken on all (probably) production mines"
per my email:

looks like the OAuth stuff on the production mines is perhaps in a dysfunctional state.
There's an unexpected (to me) "Test OAuth2 WS" button/textbox and the sign in with google option gives:
Authorization Error
Error 401: deleted_client
The OAuth client was deleted.

[2021-06-06 18:07] adf-ncgr opened #23 "Add size attribute to GeneFamily"
a nice-to-have for someday; possibly other summary statistics could be useful, e.g. avg/max/min length of assigned proteins. anything like this we add to gene family representations would also be nice-to-haves for pangene-sets.

[2021-06-06 18:28] adf-ncgr opened #24 "vigan.Gyeongwon proteins not have sequences in cowpeamine"
example:
https://mines.legumeinfo.org/cowpeamine/protein:Vang07g05040.1

There are also some cowpea accessions that appear to have similar issues but I think I managed to determine that in their case it was due to gene family assignment files that were lacking full yuck in the protein column, which does not seem to be the case with vigan.Gyeongwon (AFAICT). See table of proteins for https://mines.

[2021-06-06 18:38] adf-ncgr opened #25 "cowpeamine should use IT97K-499-35.gnm1.ann2 annotations rather than ann1"
for some reason they did not seem to be in the datastore, just the ann1 were there. Not sure we need to support both, but probably ought to at least have the latest and greatest. They are there now, although you may need to run the pathway assignments (possibly those should be rerun on anything that gets the gfa files updated too, although the impact should be pretty minimal)

[2021-06-07 20:37] sammyjava opened #26 "Solve one-to-many problem with genetic markers that map to multiple genomes"
A really core-level change would be to have a non-SequenceFeature GeneticMarker class and then a SequenceFeature to which it is related (via collection) called, say, GenomicMarker. Then we can load any genomes and have the GeneticMarker "map" to those genomes via the related "GenomicMarker." That adds an extra step, but if we want multiple genomes in the mines with markers mapped to them, we prett

[2021-06-07 20:38] sammyjava commented on #26
I've been avoiding this discussion until the files got nailed down. Since I need to merge markers from genetic files (by secondaryIdentifier) with markers in genomic files (full yuck primaryIdentifier) and we may have those markers mapped to multiple genomes, there probably is no way around separating GeneticMarker from GenomicMarker in the mines.

But that's a loader issue now, the files are all

[2021-06-07 20:46] sammyjava commented on #25
This is because I cannot merge genetic markers from a single secondary identifier from genetic data with two different sequence features. I'll close this now because I've fired up a new issue about solving this, which, when implemented, will allow me to load arbitrarily many genomes for a given strain.

[2021-06-07 20:49] sammyjava commented on #24
Yes, please do. As for Gyeongwon proteins, it looks like the loader crashed, there are hardly any records from that load:
[code]

[2021-06-07 20:49] adf-ncgr commented on #25
well, this is really about having a new annotation on the same version of the genome (gnm1). What I meant was that we probably don't need to have both the ann1 gene models and the ann2 gene models in place together, but I don't see why switching to the new gene models has any bearing on the marker mapping to the same version of the genome?

[2021-06-07 20:49] sammyjava commented on #24
So I'll close this in the future when that FASTA gets loaded properly.

[2021-06-07 20:53] sammyjava commented on #25
Ahhh yeah sorry, I was thinking gnm version. I'll switch to ann2 in the next build.

[2021-06-07 21:10] adf-ncgr commented on #24
OK, FWIW I was browsing datastore-issues and wonder if the issue legumeinfo/datastore-issues#1 that I boldly declared as wontfix and closed could possibly be related to crashing of the loader?

[2021-06-07 22:02] sammyjava commented on #24
Oh, this was dumb, I had the wrong filename in for the protein FASTA so only the README got read. But no exception thrown. I've fixed project.xml and tested that the proteins load fine.

[2021-06-07 22:13] #24 closed, assigned to nobody

[2021-06-08 15:27] sammyjava commented on #25
I'm closing stuff that is fixed even if it's not visible in production. The problem is fixed and tested. Please do not reopen, no further action is required on my part.

[2021-06-08 15:27] #25 closed, assigned to nobody

[2021-06-08 15:29] sammyjava commented on #23
Hacking the keyword search overview for specific object type functionality is out of scope. I can certainly add a displayer on the GeneFamily report page. Reopen if that's what you meant rather than keyword search results.

[2021-06-08 15:52] adf-ncgr commented on #23
I guess I'm not clear on how the set of attributes displayed on search results are determined. I was imagining that just as sequence features get lengths displayed, gene families could get sizes displayed (assuming we were to make that an explicit attribute of gene families, which would have to be updated when new annotations were loaded). I agree it's not worth hacking, I just thought these behav

[2021-06-08 16:08] sammyjava commented on #23
OK so let's make this a more fundamental issue: add size attribute to GeneFamily. Downstream uses of that attribute can be addressed later. Reopening for that specific task.

[2021-06-08 17:38] sammyjava commented on #22
Credentials were deleted, presumably after the 100-day trial period. Authorizing the domain requires a large amount of work which is simply not worth it. Google sign-in will be removed.

[2021-06-08 17:38] #22 closed, assigned to nobody

[2021-06-08 19:05] adf-ncgr opened #27 "External Links for CicerMine"
please provide links for genes to:
http://dev.lis.ncgr.org:50018/embed/interact/?target=<gene_id>
and for gene families to:
https://legumeinfo.org/chado_phylotree/<gene_family_id>

[2021-06-08 20:08] sammyjava commented on #27
Done. External links use attributes and Gene.geneFamily is a reference, so you have to go to the Gene Family report to see the external link for the phylogram.

[2021-06-08 20:08] #27 closed, assigned to sammyjava

[2021-06-08 20:19] sammyjava commented on #23
Note to self: this is a post-processor since the members are added from each GFA load. Meaning size = number of genes in THIS mine in this gene family. (We no longer load the genes from LEGUMES/Fabaceae/genefamilies/ due to inconsistencies with the GFA assignments.)

[2021-06-09 14:22] adf-ncgr opened #28 "list creation on cicermine not working"
seemingly due to some mismatch in the model having to do with Expression (per email with error message I sent)

[2021-06-09 14:23] adf-ncgr opened #29 "Faceted filtering by organism not working"
it appears to filter on things that have organisms but not on the actual value of the organism selected

[2021-06-09 15:47] sammyjava commented on #28
List creation is fine, as far as I can tell. List display has a bug.

[2021-06-09 15:51] sammyjava commented on #28
Fixed, it was trying to draw an expression heatmap (which works if expression is in the model, even if there is no expression data).

[2021-06-09 15:51] #28 closed, assigned to nobody

[2021-06-09 16:28] sammyjava commented on #29
This appears to be a core IM bug. I don't think it works on any mine. If you know of a mine where it does work, let me know so I can figure out what's different. It appears to be broken in 4.* as well as 5.0.2.

[2021-06-09 16:32] adf-ncgr commented on #29
This may be a clue. I tried it on legumemine and selected Vigna unguiculata as the organism for restriction. The filtering seemed to apply to all Vigna (ie I got a list that excluded everything but Vigna unguiculata, Vigna radiata and Vigna angularis)

[2021-06-09 16:43] sammyjava commented on #29
Ahh, thanks. I think I may be doing a core IM fix on this one. I'll see if I can dig it out.

[2021-06-09 16:48] adf-ncgr commented on #29
seems like it's basically ignoring stuff after the space in the organism short name (as you will have no doubt divined from the earlier clue)

[2021-06-09 16:52] adf-ncgr commented on #29
seemingly having to do with the way SOLR queries need to have things with spaces quoted?
https://sitecore.stackexchange.com/questions/1625/how-to-query-solr-with-spaces-and-slashes-in-the-filters

[2021-06-09 16:53] adf-ncgr commented on #29
my guess is  intermine/api/src/main/java/org/intermine/api/searchengine/solr/SolrKeywordSearchHandler.java
line 303

[2021-06-09 17:09] sammyjava commented on #29
Good call! Fixed. I'll PR the fix to the core code.

[2021-06-09 17:09] #29 closed, assigned to nobody

[2021-06-09 17:27] sammyjava commented on #23
- [x] add GeneFamily.size
- [ ] create lis-populate-genefamily-sizes

[2021-06-10 00:24] adf-ncgr opened #30 "links to phylotree on (at least) ChickpeaMine are broken"
see https://mines.legumeinfo.org/chickpeamine/genefamily:legfed_v1_0.L_LC2G7V
which seem to want to link internally rather than externally to legumeinfo.org

[2021-06-10 00:31] adf-ncgr opened #31 "links from heatmap expression displayer in ChickpeaMine are not strain-sensitive"
because chickpea is a species where gene names can collide without full yuck, we get things like:
https://mines.legumeinfo.org/chickpeamine/portal.do?class=Gene&externalids=Ca_06975

when clicking on the heatmap for a gene labelled Ca_06975 and representing a single one of these (guess which)

[2021-06-10 13:58] sammyjava commented on #31
ChickpeaMine is running a highly-outdated version of the heatMap. CowpeaMine is running the current version, which doesn't currently link genes. But when it does, I'll use full yuck and the normal "share" link syntax.

[2021-06-10 13:58] #31 closed, assigned to nobody

[2021-06-10 14:02] sammyjava commented on #30
Fixed on dev, typo in web.properties (oddly not on any other mines). But not updateable on production since I don't have a 5.0.2 ChickpeaMine built yet. It will work on ChickpeaMine v2.1. (Let me know if you want me to bump ChickpeaMine up in the priority list with your Doug biz going on. I'm working on SoyMine which will take a while, but Steven requested that as the next one.)

[2021-06-10 14:02] #30 closed, assigned to nobody

[2021-06-10 16:46] sammyjava commented on #26
@cann0010 I'm about to implement this so I can load multiple genomes into SoyMine. As I recall you're on board with it, but here's a heads up that it's becoming a real thing. GeneticMarker will become a BioEntity, not a sequence feature, which contains a collection genomicMarkers which are SequenceFeatures placed on genomes for which there are marker GFFs.

[2021-06-10 16:54] sammyjava commented on #26
This gets a bit funky for GWAS displays, which show traits and markers on a specific genome. We may need a definition of "current" or "default" genome for that, which is something we've talked about in the past. Or I can just hold off on this and load a single Wm82 genome, etc., for now.

[2021-06-10 16:58] StevenCannon-USDA commented on #26
Thanks for the heads-up/reminder.
Can you point to one file as an example?

[2021-06-10 17:04] sammyjava commented on #26
There's no file, this is strictly about the mine data model. Same files as always. But because we load markers from genetic files (where they simply have a name) and we load marker positions on genomes from GFFs, we have to relate a genetic-file-originated marker to a genomic-file-originated marker. InterMine does not support a SequenceFeature residing on more than one genome. So to support placin

[2021-06-10 17:06] StevenCannon-USDA commented on #26
OK, got it. Change away ...

[2021-06-10 17:06] sammyjava commented on #26
And, actually, GeneticMarker shouldn't even be a BioEntity, because that has a specific strain. It's a step above that, which is simply Annotatable (something that's related to a publication and/or ontology term). Markers are strain-independent diagnostic quantities.

[2021-06-10 17:07] StevenCannon-USDA commented on #26
Agree.

[2021-06-12 13:25] adf-ncgr opened #32 "list display broken on peanutmine"
looks like the same error you fixed on cicermine ( #28 ). An actual user emailed about this one. I'll file an issue too.

I found this error on https://mines.legumeinfo.org/peanutmine/layout.jsp.

---- Error Found ----

java.lang.RuntimeException: Sources query invalid: [Path ExpressionValue.sample.source.id in view list is not in the model, Path ExpressionValue.sample.source.primaryIdentifier in

[2021-06-14 14:22] sammyjava commented on #32
Yup, fixed. I let him/her know.

[2021-06-14 14:22] #32 closed, assigned to sammyjava

[2021-06-14 18:18] adf-ncgr opened #33 "bug or feature? all cowpea data returned by keywords "root" and "soils" and "tropics""
my guess is that this is because the description for the Organism contains these terms. I stumbled across this trying to do a  perhaps stupid but well-intentioned search for genes with "root" in their descriptors (for expression heat map purposes)

[2021-06-14 18:21] sammyjava commented on #33
Yeah BioEntity objects will show on searches that return their organism. I can turn that off.
[code]

[2021-06-14 18:27] adf-ncgr commented on #33
Probably a good idea to turn it off- likely most Mines don't wax quite as eloquent about their species as we do...

[2021-06-15 13:43] sammyjava commented on #33
Fixed, I'll update the other mine configs as well.

[2021-06-15 13:43] #33 closed, assigned to nobody

[2021-06-24 18:22] adf-ncgr opened #34 "medicmine: broken at the front page"
Unable to find the class count.<i>cannot find class count for: org.intermine.model.bio.ProteinHmmMatch</i>

[2021-06-24 19:22] sammyjava commented on #34
Argh it's caught in an objectstore summary conflict with the new version. I'll bump rebuilding it under 5.0.2 and the new DS layout. Can't get it to work with the mix of IM version and existing data.

[2021-07-19 15:43] adf-ncgr commented on #34
seems to be fixed.

[2021-07-19 15:43] #34 closed, assigned to nobody

[2021-07-19 15:56] adf-ncgr opened #35 "MedicMine: behavior of example gene list wrt expression heatmap"
Now that visitors to the old mtgea site are being directed to us, I've already received a couple of inquiries- very glad to be able to point them to MedicMine (as well as the French site). One thing I noticed was that the example gene list provided on https://mines.legumeinfo.org/medicmine/bag.do
does not seem to render an expression heatmap, although one of the genes in the list (Medtr4g113520) d

[2021-07-19 15:57] adf-ncgr commented on #35
PS. this would seemingly be a good "learning moment" so I've tagged it as a good first issue in hopes that either @svengato or myself can at least help fix it.

[2021-07-19 16:08] sammyjava commented on #35
I don't see any im:public lists. What example gene list are you referring to? Just the three genes that are stuffed into the form on the home page?

In any case, I've got two Google users on the mine plus me, and Google login is disabled. So once you and/or Sven create an account I can flag you as superadmin so you can tag lists as im:public (which I think we found works, as opposed to tagging the

[2021-07-19 16:10] sammyjava commented on #35
Those examples in the forms on the home page are set in web.properties so that's something you should leave until I'm gone and Sven takes over. I'm still tweaking the production mines (or will be when fisher and VMs are back up). You have to redeploy the mine to update those, and that stuff is carried over via the GitHub repos.

[2021-07-19 17:10] adf-ncgr commented on #35
yes, I was just talking about the three genes stuffed into the form; also trying to understand why some gene sets don't display the heatmap when it seems they could. But I've created an account so you can anoint me whenever convenient

[2021-07-19 17:37] sammyjava commented on #35
Duly anointed.

What do you mean by "it seems they could"? Give me a list of such genes and I'll see if there's a bug in the query. Put it in a separate issue, though, since this issue is about the examples on the home page form.

[2021-07-19 18:02] adf-ncgr opened #36 "MedicMine: lists of genes that individually have expression barcharts don't always show heatmaps when combined on list page"
e.g. Medtr6g017260 and Medtr4g075040

[2021-07-19 18:02] adf-ncgr commented on #35
see #36

[2021-07-19 18:30] sammyjava commented on #36
Yup, client-side bug. I'll fix it when fisher is done.

[2021-07-21 17:44] sammyjava opened #37 "LegumeMine needs definition of which genomes to load"
We've got a lot of genomes. LegumeMine holds genomes and annotations, while we put genetic data and other stuff in the individual genera mines. However, I don't think it's helpful to have every single genome+annotation in the datastore in LegumeMine. Here is the list of current datastore annotation collections and I've checked the ones I think should go into LegumeMine, generally being the most re

[2021-07-21 17:52] sammyjava commented on #37
Another point here is that LegumeMine should be, I think, a fully populated matrix of strains vs. content. So, for example, expression data would not go in LegumeMine since we don't have expression data for many strains. Expression data is loaded in the genus-specific mine. The common content across the board is genomes and annotations.

[2021-07-21 18:37] adf-ncgr commented on #37
I'm not sure we don't want to load all genomes with annotations, but I checked a few more in your list that I'd include if we are keeping it to the popular kids. One argument for including all genomes with annotations is that it makes it possible to do one-stop-shopping for use cases like: take all the genes in a region in GCV and get their functional descriptors.
(GCV doesn't believe in cliquishn

[2021-07-22 17:22] sammyjava commented on #37
I'll load the checked ones for now and you can take this further down the line when some actual imjs webapps begin to appear and folks are pining for Wenfeng7_IGA1001.

[2021-07-23 17:24] sammyjava commented on #36
Fixed. I believe it is only a bug with one- or two-gene lists, because there used to be a bug in CanvasXpress that broke the heatmap with less than three rows and I did a bad job of indicating that heatmaps were disabled for less than three genes. That is no longer a bug, so now you can view a heatmap with as few as one expressive gene.

[2021-07-23 17:24] #36 closed, assigned to sammyjava

[2021-07-23 17:26] sammyjava commented on #23
This is done, and the sizes are actually updated in the direct-updates script with a simple SQL update. Perhaps writing a post-processor for this simple task would be a good homework exercise.

[2021-07-23 17:26] #23 closed, assigned to nobody

[2021-07-23 17:28] sammyjava commented on #26
I never got around to this and will not be doing data model and loader updates at this point. So this is something for @svengato and @adf-ncgr to ponder in the future. It's a fairly major update.

[2021-07-26 21:25] sammyjava opened #38 "cajca.ICPL87119.gnm1.ann1.Y27M.gene_models_main.gff3 incomplete"
So this is the issue, not sure why it's not already in here, probably got lost in email.
[code]

[2021-07-26 22:46] adf-ncgr commented on #38
Fixed by running add_IDs_to_gff_features.pl

[2021-07-26 22:46] #38 closed, assigned to adf-ncgr

[2021-07-27 18:54] svengato opened #39 "Which license to use?"
CajanusMine uses Apache 2.0, while all the others (as far as I can tell) use LGPL 3.0.

[2021-07-27 19:13] sammyjava commented on #39
Well, if you don't want to rebuild all the mines with a new license, it should be what's in all their project.xml definitions:
[code]

[2021-07-27 19:19] sammyjava commented on #39
By the way, these are hardcoded in case they're missing in project.xml:
[code]

[2021-07-27 21:20] adf-ncgr commented on #39
I think @sammyjava is referring to the data license (aka licence). I think @svengato is referring to the license associated with the code in the repo e.g. https://github.com/legumeinfo/jointvetchmine/blob/main/LICENSE
The one for https://github.com/legumeinfo/cajanusmine/blob/main/LICENSE came from the template repository Alan set up somewhat recently and is the way of the present and future.

[2021-07-27 21:20] #39 closed, assigned to nobody

[2021-07-29 16:04] sammyjava commented on #15
Fixed.

[2021-07-29 16:04] #15 closed, assigned to sammyjava

[2021-08-04 23:40] adf-ncgr opened #40 "beanmine missing its jbrowse?"
e.g. https://mines.legumeinfo.org/beanmine/gene:phavu.G19833.gnm1.ann1.Phvul.002G040500

alternatively, the underlying issue may be that the gene seems to be lacking genomic location info.

[2021-08-09 19:14] adf-ncgr opened #41 "chickpea mine strains need some cleanup"
there may or may not be a good reason why non-cicer strains are present, but surely the duplication of cicer strains is a bad thing:

chickpeamine=# select identifier from strain;
       identifier
------------------------
 CDC Frontier
 ICC 4958
 A17_HM341
 MilvusB
 MG20
 ICC4958 (desi variety)
 ICC4958
 CDCFrontier
(8 rows)

[2021-08-19 22:14] adf-ncgr opened #42 "jointvetchmine not handling gene families correctly"
for example, a vanilla query for gene families give the following error (something similar happening with keyword searches that should return gene families; also, gene family section in gene report pages blank):

We encountered an error running a query from an
embedded result table.

page: https://mines.legumeinfo.org/jointvetchmine/results.do?trail=%257Cquery%257Cresults.0&queryBuilder=true
servi

[2021-08-23 22:14] adf-ncgr opened #43 "all (?) mines pointing BLAST to a non-functioning SequenceServer instance"
after clicking the BLAST button on any sequence feature's report page the error is:
Proxy Error
The proxy server received an invalid response from an upstream server.
The proxy server could not handle the request

Reason: DNS lookup failure for: shokin-sequenceserver

[2021-10-14 18:56] sammyjava opened #44 "phavu in gene names on at least BeanMine creates dupes"
At least on BeanMine but methinks everywhere.

[2021-10-15 22:07] sammyjava opened #45 "CicerMine: need gfa files for echinospermum and reticulatum"
Here's the new LIS-style files I've put under /data/v2, lacking GFAs:
[code]

[2021-10-15 22:54] adf-ncgr commented on #45
thanks for the reminder about the GFAs. I've got them running now should have them later tonight (not that I expect you to receive them then). And don't forget to include Cicer/arietinum/annotations -- CDCFrontier.gnm3.ann1.KEY4 in the set to be loaded.

[2021-10-15 23:23] sammyjava commented on #45
Yup, doing the new arietinum, echinispermum, reticulatum genomes/annotations. Not including the older arietinum on the LIS DS.

[2021-10-16 00:47] adf-ncgr commented on #45
OK great, and I've put the gfa files into place- appropriately named in the locations under /erdos/legumeinfo/data/v2/Cicer/ that you created. Note that the folders and files there are all owned by sysadm so I had to sudo cp them in, I think I had noticed this when you had done some sort of mass copy earlier (before your hiatus) and I just did a massive chown -R then. Not sure if you were intendin

[2021-10-18 15:45] sammyjava commented on #45
Thanks. I'll just create an "lis" group and give files g+rw.

[2021-10-18 15:45] #45 closed, assigned to adf-ncgr

[2021-10-20 16:50] sammyjava opened #46 "Descriptions not loaded from FASTAs!"
This is a surprise to me, I though they were!

[2021-10-20 17:25] sammyjava commented on #46
Since we've got type=value in some FASTA headers, implement this as a "descriptionOnly" flag in project.xml for FASTAs of the `>ID Description` variety.

[2021-10-20 17:32] adf-ncgr commented on #46
I've actually been wondering about whether we (LIS) ought to consider more standardization of the fasta headers. It seems that proteomics users are befuddled when the protein fastas don't try to make function more explicit without forcing them to get into gff-ese. Perhaps worth some group discussion.

[2021-10-25 18:44] sammyjava opened #47 "We need a prod-sequenceserver for the prod mines"
I've got a dev-sequenceserver set up for dev fun, and we should have a stable production sequenceserver for general BLASTing. Which genomes should we put on that? LIS has a lot of genomes, it seems like we should limit the list somewhat. Or, every genome that's in the production mines could be the answer. You decide.

[2021-10-25 23:40] adf-ncgr commented on #47
My inclination would be to put in all latest versions of genomes and their annotations (ie transcript and protein files). Which I think would be more or less equivalent to the answer "every genome that's in the production mines" (in theory anyway). This could then serve as an alt-form of friendliness between the mines (ie blast a sequence in one mine to get to things in other mines). No doubt, the

[2021-10-26 13:06] StevenCannon-USDA commented on #47
I have misgivings about including all of the Data Store's assemblies and annotations into one ss instance. The current count is 85 assemblies and 79 annotations. Maybe that's OK; people would just need to do some scrolling and/or searching.

A somewhat more elaborate solution to consider: use representative genomes and per-genus pan-gene set at the "legume" level, and provide all genomes and CDS/p

[2021-10-26 15:25] sammyjava commented on #47
Not all the Data Stores' assemblies and annotations; all of those in the mines, which are not all of those in the DS. (For example, right now I cannot include multiple genome versions which have the same short names for the genes, like G19833.gnm1.ann1.pScz and G19833.gnm2.ann1.PB8d, because of merging on short name that I need to do with other data sources).

Perhaps a good choice is the genome/a

[2021-10-26 15:46] adf-ncgr commented on #47
that seems as good a place to start as any to me, thanks. We will of course be adding more genomes to legumemine eventually...

[2021-10-26 15:54] StevenCannon-USDA commented on #47
Agree. Moving forward is good.

[2021-10-26 15:54] #47 closed, assigned to adf-ncgr

[2021-10-29 19:06] sammyjava commented on #44
Fixed. Just some files in the DS needed to be updated.

[2021-10-29 19:06] #44 closed, assigned to sammyjava

[2021-11-01 16:36] #46 closed, assigned to sammyjava

[2021-11-01 16:37] sammyjava opened #48 "Organism facets broken on keyword search results on certain mines"
CicerMine and others.

[2021-11-01 18:17] sammyjava commented on #48
legumemine, peanutmine and soymine work.

[2021-11-05 18:24] sammyjava commented on #48
Fixed.

[2021-11-05 18:24] #48 closed, assigned to sammyjava

[2021-11-08 19:01] sammyjava opened #49 "Let's support yuck-inconsistent ID and Name in GFFs"
Right now, when Name is present in a GFF, it becomes secondaryIdentifier, while primaryIdentifier=gensp.strain.gnm#.ann#.Name.

Let's relax that slightly: if ID contains gensp.strain.gnm#.ann# then set primaryIdentifier=ID and secondaryIdentifier=Name.

That way we can tweak the Name values to differ somewhat from what's at the end of ID.

[2021-11-14 14:03] #49 closed, assigned to sammyjava

[2021-11-19 21:31] sammyjava commented on #37
Closing this since LegumeMine is built for this round.

[2021-11-19 21:31] #37 closed, assigned to nobody

[2021-12-09 17:49] adf-ncgr opened #50 "Create list button from enrichment widgets not functioning"
after selecting some enriched categories and clicking View, a dialog comes up with option to View results (which works) or
Create List (which doesn't seem to do anything). If there isn't an easy fix we might just decide this is something that will be different in BlueGenes and not worth spending time on.

[2022-02-22 21:21] sammyjava commented on #26
I kinda forgot about this and blithely went ahead and started loading genome-mapped GeneticMarker objects from GFFs. Before I've loaded the markers associated with maps, etc., in the /genetic/ collections. I'll ponder this some more, not sure if I'll come up with anything different. If not, I'll have to create the GenomicMarker class and load those again. But they're called genetic_marker in the G

[2022-02-23 16:55] sammyjava commented on #26
Now I'm thinking of loading the marker from the /genetic/ collections simply as a string identifier (markerName) with a collection (geneticMarkers) left unfilled by the DS loader. Then, in post-processing, objects will get their geneticMarkers collections filled by all the markers that match markerName. Here's a concrete example:
[code]
This gets the job done in that the GWASResult report (for thi

[2022-02-23 17:07] sammyjava opened #51 "qtlmarker loaded incorrectly"
[code]
That should be two disinct markerids and the marker name should not be loaded into the distinction field (which is "flanking").

[2022-03-03 17:38] sammyjava commented on #26
I'm liking my solution to this, which is now implemented in 5.0.6.1 on dev (I've added an additional number to the IM version now to avoid the repeated versionitis problems I've had with restarting production mines, among other reasons). However, a buggery thing that happens is that the GWAS displayer, which shows a Manhattan plot on a particular genome assembly, now doesn't know which genome asse

[2022-03-11 16:22] sammyjava opened #52 "Add Funnotate sequence POST button"
@adf-ncgr  sez:
Now that https://funnotate.legumeinfo.org/ is live, it would be great to start adding the functionality for POSTing sequences to the production mines. I think it is a code change that would be applicable to any of the mines in their current state of data-tude, but let me know if you think otherwise. Sven, let us know if I've misconstrued the readiness-for-primetime of this feature.

[2022-03-11 16:23] sammyjava commented on #52
I'll add it to the dev mines, it's still a ways off before those reach production. I've been doing BeanMine lately since it's a lot smaller than SoyMine, but still README work pending on that. It'll be on the new prod mines, tho.

[2022-03-11 16:43] svengato commented on #52
It should work with no changes to Funnotate required (only the mines).

[2022-03-11 19:30] sammyjava commented on #52
So I remember to add to the dev mines:
- **beanmine**
- [x] web.properties
- [x] webconfig-model.xml
- [x] tiles-defs-model.xml
- [x] struts-config-model.xml
- **chickpeamine**
- [x] web.properties
- [x] webconfig-model.xml
- [x] tiles-defs-model.xml
- [x] struts-config-model.xml
- **cowpeamine**
- [x] web.properties
- [x] webconfig-model.xml
- [x] tiles-defs-model.xml
- [x] struts-config-model.xm

[2022-03-17 22:42] adf-ncgr opened #53 "cowpea mine (and maybe others) not emailing forgotten password requests"
Unable to send email. Please try again.

[2022-03-18 16:11] sammyjava commented on #53
Well I f*cked up CowpeaMine because I'm between versions (which I've now addressed with gradle sub-versions but hadn't pushed to production yet). So now I'll have to rebuild CowpeaMine under 5.0.6.1 and then debug it. I'll do a quick build. Presumably something happened with SMTP on our network but I need to see the actual exception rather than the blurb that InterMine spits out.

[2022-03-18 16:18] adf-ncgr commented on #53
yes, it's probably SMTP because I checked and found it is not specific to CowpeaMine. But, FYI I am hoping to use CowpeaMine soon, so let me know when you think it should be working correctly (I needed to log in to make a big list- apparently there's a limit on the size of lists for unauthenticated users)

[2022-03-18 16:22] sammyjava commented on #53
I'll get it rebuild. But let me know what you need so I prioritize those collections.

[2022-03-18 16:35] adf-ncgr commented on #53
The annotated genome data is what I need, thanks.

[2022-03-18 18:51] sammyjava commented on #53
@adf-ncgr do me a favor and sort vigan.Gyeongwon.gnm3.ann1.3Nz5.gene_models_main.gff3 . I probably did so in my previous life but it didn't make it up to the DS. Meanwhile I'm whacking other DS moles.

[2022-03-18 18:57] adf-ncgr commented on #53
OK, give it another try and let me know if still not suitable

[2022-03-18 19:24] sammyjava commented on #53
Not yet:
[code]

[2022-03-18 19:53] adf-ncgr commented on #53
looks to me like the problem here is that the file uses a legal but regrettable gff3 convention that the parser may not be equipped to handle. vigan.Gyeongwon.gnm3.ann1.Vang0010ss00020.1:exon:16254 is used in two isoforms and expresses that by using gff comma-delimited multi-attributes in the parent field. I believe the individual mRNA to which it refers both do appear before it in the file, and l

[2022-03-18 20:13] sammyjava commented on #53
OK, will ignore.

[2022-03-18 20:24] sammyjava commented on #53
Well, it's way worse. We don't have READMEs for all but one vigun genome+annotation collection:
[code]
Same for genomes. So to build the new mine I need those READMES. I think I can get away with stubs for now but this is a major DS deficiency. I'll create stubs with the minimal contents.

This slows the process down. Sorry I tried to fix this original issue, I should stay away from production iss

[2022-03-18 20:38] adf-ncgr commented on #53
OK, I think that's probably something I was supposed to be doing so let me know if you'd rather punt it my way. It will have to be minimal for now anyway since this is all pre-publication (except for Xiaobao_II which could be excluded for present purposes).

[2022-03-18 20:39] sammyjava commented on #53
Nah it's no problem, I'm doing them one at a time while the loader loads the collections, so it's actually not much of a time-slower.

[2022-03-20 21:50] sammyjava commented on #53
This is fixed. For reasons I don't recall, hardy's postfix was default, and the firewall didn't have port 25 open. I guess this dates back to when I installed CentOS 8 Stream (!). This means that any servers that used lis.ncgr.org as the SMTP relay were not working. The idea behind that was that we'd not have to run a postfix on every server that sends mail, but we'd use a single LIS machine for t

[2022-03-20 21:50] #53 closed, assigned to sammyjava

[2022-03-20 21:55] sammyjava commented on #53
Sorry, Xiabao_II to come as well, not sure why that was lacking before. (I'm loading directly into the production mine.)

[2022-03-21 14:24] StevenCannon-USDA commented on #53
have been tempted to remove Xiabao_II altogether. The annotation is laughably bad. I am not sure about the quality of the assembly. The reason for keeping it is that the biology for this accession is interesting (it is yard-long bean; ssp. sesquipedialis), and there are some decent-looking papers on trait mapping, e.g. https://doi.org/10.3389/fpls.2017.01544

[2022-03-21 15:59] #26 closed, assigned to sammyjava

[2022-03-23 17:41] sammyjava opened #54 "Merge GeneFamily and PhyloTree by GeneFamily.name"
Which doesn't exist in the 5.0.6.1 data model so do this in the next data model update. (Right now the legfed_v1_0 prefix is hardcoded in the phylotree loader.)

[2022-03-24 21:02] sdash-github opened #55 "Links from LIS gene family phylograms to mines shows "No matches found""
Links from LIS gene family phylograms to mines results in "No matches found for vigan.Vang11g14690Could not resolve a Gene for identifier: vigan.Vang11g14690"

Example gene family page:
https://legumeinfo.org/chado_phylotree/legfed_v1_0.L_7P59NX?hilite_node=arahy.0008XH.1
From here links to:
https://mines.legumeinfo.org/legumemine/portal.do?class=Gene&externalids=glyma.Glyma.10G126700
https://mine

[2022-03-25 13:57] sammyjava commented on #55
This will be resolved in an upcoming LegumeMine build when I've got the Gene.Name attribute filled and keyword-indexed. So I'll leave this open until that happens.

This opens the question of what we're going to do with the legacy phylograms, eh what @adf-ncgr @cann0010 ? Or is there already a planned migration?

[2022-03-25 13:58] sammyjava commented on #55
This is actually a mine issue, not a legumeinfo.org issue, so I'll move it to mine-issues if I can.

[2022-03-25 15:14] adf-ncgr commented on #55
I'm not actually sure this is a mine issue. I think it may be due to the fact that the linkout code is still using the older naming convention where we had "lite yuck" with gensp prefixes instead of either "full yuck" or "no yuck". Haven't had a chance to look at it more closely to confirm this is the issue.

With respect to the question of the legacy phylograms, at least for the time being they w

[2022-03-25 16:18] sammyjava commented on #55
Ahh, correct, I was thinking of keyword search rather than links, like https://mines.legumeinfo.org/beanmine/gene:phaac.Frijol_Bayo.gnm1.ann1.Phacu.CVR.002G040500 which are configured to use primaryIdentifier. So I'll switch this back to you @adf-ncgr and you can have your way with it.

[2022-03-28 18:14] adf-ncgr commented on #55
forgot to mention in today's meeting but I had a look at updating the linkout code on lis-stage to use uniquenames (aka full yuck) to go to intermine. Generally this works, but there are some cases where either the uniquenames need to be fixed in chado (should be easy to do) or the version of the genome stored in chado is not identical to what is loaded into the mine. Examples of the latter includ

[2022-03-28 18:29] sammyjava commented on #55
I've been loading older assemblies as well as the most recent lately, but in the genus-specific mines, not LegumeMine. Which I guess is the problem. But shouldn't the linkout service be weaned from chado, anyway, since it is soon to be deprecated?

[2022-03-28 19:12] adf-ncgr commented on #55
They should indeed be weaned- defining the new linkout protocol has been a TODO for quite some time, and it's almost certainly my fault that it has not progressed; but I think the basic problem will remain until we rebuild the trees (which is also on a TODO list)

[2022-03-28 21:46] adf-ncgr opened #56 "gff loader needs to URL-decode a few things"
there are a handful of characters that have special meaning in field 9 of GFF and are supposed to be URL-encoded to escape them when appearing in text:

seems like the mine parser is not handling them specially and they are coming through in all their encoded glory in the description (Note attribute); see, e.g. https://mines.legumeinfo.org/legumemine/gene:tripr.MilvusB.gnm2.ann1.gene15995

[2022-03-28 22:50] adf-ncgr commented on #55
OK, this is fixed in the sense that when the versions of genomes used in the trees and in LegumeMine correspond, it works. However, some of the genomes that now have version mismatch issues include soybean, common bean, peanut and cowpea, so that's less than ideal but at least it's an accurate portrayal of reality.

[2022-03-28 22:50] #55 closed, assigned to adf-ncgr

[2022-03-29 20:16] #40 closed, assigned to nobody

[2022-03-29 20:22] sammyjava commented on #41
This is solved by the new loaders that read strain identifiers from the description files (which hopefully match those used on the collection identifiers). In other words, the Datastore is getting more self-consistent. If a collection has a non-matching strain in its identifier then that strain will be created, but I've tried to keep an eye out for that.

[2022-03-29 20:22] #41 closed, assigned to nobody

[2022-03-29 20:23] sammyjava commented on #43
This was fixed at some point.

[2022-03-29 20:23] #43 closed, assigned to nobody

[2022-03-30 05:06] adf-ncgr opened #57 "production beanmine header logo image being sourced from http://dev.lis.ncgr.org:50030/assets/img/lis-logo-small.png"
hence broken under https.

[2022-03-30 05:13] adf-ncgr opened #58 "updates to mines.legumeinfo.org entry page"
BeanMine : add Phaseolus acutifolius
SoyMine: add perennial Glycine spp. (probably too many to enumerate individually)

[2022-03-30 15:45] sammyjava commented on #57
Oh yeah that snuck in, cowpeamine as well, which is on 5.0.6.1 now. I updated it for the near-future URL, which will return a 404 for now, which I'm fine with. Mucks up the header slightly but we WILL be launching the new site on Monday so it's only for a few days! Right?!?

[2022-03-30 15:45] #57 closed, assigned to nobody

[2022-03-30 16:03] sammyjava commented on #58
Thanks, done.

[2022-03-30 16:15] adf-ncgr commented on #57
Right!

[2022-04-01 14:58] sammyjava opened #59 "List length of 100k is just too small for CERTAIN users"
A certain user reports:

The noncore gene list has ~52k members and loads OK. the core gene list has ~150k members and gives me the message that the list size limit is 100k. I wonder if that's configurable somewhere? If I do this as an anonymous user I get the message:
[code]
then if I log in I'm told:
[code]
That seems a little silly, so I'm hoping it can be bumped up easily, but I didn't find an

[2022-04-04 18:15] #58 closed, assigned to nobody

[2022-04-04 18:17] sammyjava commented on #54
Dang, missed this in 5.0.6.2.

[2022-04-04 18:20] sammyjava opened #60 "5.0.6.3 things"
Some things to update in 5.0.6.3:
- [ ] +GeneFamily.name
- [ ] +Phylotree.name with GeneFamily merge on name in lis-phylotree
- [x] QTL.dataSet not dataSets since sourced in only one collection
- [x] potential DS update to /maps/ with mrk.tsv and lg.tsv files moved from /genetic/ collections

[2022-04-17 22:44] sammyjava commented on #60
Forgot the GeneFamily/Phylotree merge thing so I'll bump that to 5.0.6.4 notes.

[2022-04-17 22:44] #60 closed, assigned to sammyjava

[2022-04-17 22:45] sammyjava opened #61 "5.0.7.1 things"
- [x] +GeneFamily.name
- [x] +Phylotree.name with GeneFamily merge on name in lis-phylotree
- [x] +GeneticMarker.motif (for SSRs)
- [x] Trait.primaryIdentifier is not unique! Create primaryIdentifier by munging with collection identifier.
- [x] Above is true for QTL in principle, so make a munged QTL.primaryIdentifier (with QTL.name holding the simple version)
- [ ] ~~merge lis-mstmap into lis-gen

[2022-05-09 15:44] adf-ncgr opened #62 "cowpeamine genotype matrix displayer busted"
e.g. https://mines.legumeinfo.org/cowpeamine/genotypingstudy:CB27_x_IT82E-18.gen.Pottorff_Li_2014
console reports:
report.do?id=90000002:1008 Uncaught Error: Failed to load Displayer "GenotypeMatrixDisplayer" error
    at Object.error (report.do?id=90000002:1008:20)
    at l (jquery.min.js:4:24882)
    at Object.fireWith [as rejectWith] (jquery.min.js:4:25702)
    at k (jquery.min.js:6:5373)
    a

[2022-05-09 16:20] sammyjava commented on #62
OH, yeah I'm still supporting the mstmap loads (which are Riverside-specific? I think they wrote it). Those are much lower density then the massive VCFs elsewhere, the biggest is the MAGIC-2017 file, 30 MB uncompressed. I'll fix it, not sure why it broke, probably some upstream data model change in 5.0.6.1, which is what CowpeaMine is on.

[2022-05-10 18:37] sammyjava commented on #62
Turns out this is a data loading bug. The GWAS were loaded but without any GWASResults from the MSTMap loader.  I'm building a new CowpeaMine on 5.0.3.6 since it's easier than trying to squeeze the data into a production mine. I'll figure out what the deal was with lis-mstmap.

[2022-05-14 22:08] adf-ncgr commented on #54
I think I just ran into this when messing around with GraphQL against legumemine. There are a bunch of GeneFamilies returned without Genes, but these see to be associated with phylotrees, e.g. https://mines.legumeinfo.org/legumemine/report.do?id=265000002
I recently had @svengato switch Funnotate to use full yuck gene families, which might solve this issue as well (or at least remove the need for

[2022-05-16 15:41] sammyjava commented on #54
Well I've already done it in 5.0.6.4. If the DS phylotrees get full yuck I'll need to do another update. But merging on name is fine, I've now got GeneFamily.name and Phylotree.name holding the shorter name.

[2022-05-16 15:42] sammyjava commented on #54
And it's not really "yuck" in the sense of normal gensp.strain.gnm[.ann]... in any case, it's just a version prefix. I'm happy with it as it is, but it'll be a while before all the production mines are on 5.0.6.4.

[2022-05-16 21:17] sammyjava commented on #61
Here's the syntax I chose for QTL/trait primaryIdentifier: **CB27_x_IT97K-556-6.gen.Huynh_Ehlers_2015:QAc-vu1.1**, **CB27_x_IT97K-556-6.gen.Huynh_Ehlers_2015:Aphid resistance**. The name attribute holds the short versions QAc-vu1.1, Aphid resistance.

[2022-05-16 21:52] sammyjava commented on #61
Erp, just noticed that we're not getting DataSet stored from the description YAML. Duly updated.

[2022-05-17 16:13] sammyjava commented on #61
Bump to 5.0.7.1 after merging in 5.0.7 from the mother ship.

[2022-05-17 21:16] #61 closed, assigned to sammyjava

[2022-05-23 20:45] sammyjava commented on #52
Along with this issue is the "annotation" widget for transcript or protein lists that we talked about today, which I just found:
https://github.com/legumeinfo/mine-webapp/blob/main/model/annotation.jsp
This requires adding the widget to the webconfig along with the URL in web.properties that activates the button on the report pages. @adf-ncgr @svengato So I'll make an effort to do that as I roll o

[2022-05-23 21:01] sammyjava commented on #52
OK, upon further review, this is in fact already present on the production SoyMine and I'll double-check that it's present on any upcoming mines.
![Screenshot 2022-05-23 at 14-57-41 SoyMine List Analysis Proteins from three gene families](https://user-images.githubusercontent.com/5657219/169905433-bc567209-879b-4bd0-a6b0-d4a0ada6ee13.png)

[2022-05-23 21:14] adf-ncgr commented on #52
great, thanks! it is indeed working like a charm there on SoyMine, sounds like it's only a matter of time for it to appear in CowpeaMine and others.

[2022-05-23 21:21] sammyjava commented on #52
I did totally forget about it. As you can see in the updated tasks above there are three separate things one has to do to activate it on the list analysis page for mRNA, CDS, and Protein. But this was an active issue so "forgetting about it" is probably more accurately "passively ignoring it."

[2022-05-23 22:04] adf-ncgr commented on #52
I think production medicmine is almost but not quite right. seemingly due to the action for the form being an empty string:
`<form action="" method="post" style="display:inline;border:0;margin:0;padding:0;" target="_blank">
`
maybe you are just checking things off in dev now?

[2022-05-23 23:06] sammyjava commented on #52
Correct, just hitting things in dev, so they'll be enabled when those mines get promoted. I'm starting a fresh build of MedicMine today on the 5.0.7.1 version. CowpeaMine is grinding post-processing.

[2022-05-24 14:46] adf-ncgr opened #63 "soymine keyword search not returning data for all genomes?"
The given example gene Glyma.01G086900 works just fine as a "keyword" but Glysoja.01G000001 does not (though it is present in the database). Probably related to this is the fact that the "Hits by Organism" facet in the keyword results does not seem to list any species but G. max (based on my limited testing)

[2022-05-24 19:04] sammyjava commented on #63
Must be an old keyword index. Running create-search-index now to see if we get more stuff in. There isn't anything in the mine config that favors one organism over another.

[2022-05-24 19:38] sammyjava commented on #62
OK it's bigger than that, it's the merge-markers-on-name thing that I've dealt with in other cases. The genetic data do not specify _which_ genome the markers belong to and I've made updates to allow a marker to be mapped to several genomes. But I hadn't updated the GenotypingStudy stuff accordingly. So we've got dupe markers, one from the GFF and actually two from MSTMap loads that only have name

[2022-05-24 19:47] adf-ncgr commented on #63
sounds good.

[2022-05-26 18:59] sammyjava commented on #63
This is a bear. I'm having difficulty getting create-search-index to complete without a connection drop, which crashes the process. I'm running it locally on prod-solr now, which I've done before (probably with soymine). I think the configuration for partial text matches (which I expanded) really bogs it down. May need to limit how many attributes we do that on.

[2022-05-27 14:19] adf-ncgr opened #64 "keyword indexing on legumemine may need refresh?"
not sure if that is the real cause of the following behavior:
there is a gene family legfed_v1_0.L_ZZWVY4 with descriptor "protein SRG1-like [Glycine max]..." which is present in the mine
https://mines.legumeinfo.org/legumemine/report.do?id=112000004
but not reachable using keyword searches for SRG1 or "SRG1-like" or legfed_v1_0.L_ZZWVY4, etc.

I noticed this when trying to search via https://funn

[2022-05-27 14:33] sammyjava commented on #64
Yeah, I dunno, I'm deep into figuring out what's going on with soymine's index. I blew away all the partial-match config and am indexing it from scratch to see if that doesn't crash out. Could be I just need to throw more resources at the VM but it seems to have plenty while it's indexing. I'll wait on resolving that before I hit legumemine since they may be related.

[2022-05-27 14:42] adf-ncgr commented on #64
sounds good, let me know if you need any more info or another pair of eyes on anything; I ought to learn more about solr indexing

[2022-05-28 13:59] sammyjava commented on #63
So, I managed to build the soymine index (in only 1:25) on shokin-mines with all the partial keyword matches removed. I couldn't do it on prod-solr (crashed after 55m) -- which appears to be a memory issue. shokin-mines has 80G of vRAM. So now I'm thinking of using haldane to index with partial matches (wow an actual LIS use of haldane!). This has arisen because soymine is gotten to be a bigass mi

[2022-05-28 14:35] sammyjava opened #65 "5.0.7.2 TO-DOs"
- [x] GenotypingSample = Annotatable + description, name, organism, strain, dataSet
- [x] handle gzipped FASTAs and GFFs and TSVs (so I don't have to gunzip them from DS)
- - [x] lis-annotation
- - [x] lis-expression
- - [x] lis-fasta
- - [x] lis-genetic
- - [x] lis-map
- - [x] lis-markers
- - [x] lis-mstmap
- - [x] lis-synteny
- [x] add Gene<->ProteinDomain reverse reference as per @adf-ncgr
- [x

[2022-05-28 19:06] sammyjava commented on #63
| haldane Xmx  | prod-solr Xmx | partial_match attributes | time |
| ------------- | ------------- | ------------- | ------------- |
| 240g  | 512m | --- | 1:30 |
| 240g  | 512m | gene_secondaryidentifier |  1:25 |
| 240g  | 512m | + gene_description | 1:30  |
| 240g  | 512m | + ontologyterm_name, ontologyterm_description, genefamily_description* | 1:33 |
| 240g  | 512m | + dataset_, strain_, orga

[2022-05-28 20:03] adf-ncgr commented on #63
I was going to comment earlier that you are becoming the Joe Carlson of legumes. Just so I'm clear on what's at stake here with partial matching, is it basically enabling provided keywords to match if they are substrings of words in the indexed text? e.g. user asks for SRG and it matches SRG1 only if partial matching has been enabled in the indexing? If this is so I'm not sure how important it wou

[2022-05-28 20:44] sammyjava commented on #63
Agreed, I can be much more judicious in my choice of attributes to partial match.  _[Edited out my repeat of what you said.]_ I'm doing a slow course of tests. Another option, BTW, is to build the index entirely on haldane (run a solr while indexing) and copy the index over to prod-solr. You don't need a lot of resources to serve queries but you need them to index. But I'll figure that out in my g

[2022-05-28 20:56] sammyjava commented on #62
Now fixed in 5.0.7.1 which is now in production. Enjoy the pretty colors on the MAGIC-2017 matrix.

[2022-05-28 20:56] #62 closed, assigned to sammyjava

[2022-05-28 21:54] adf-ncgr commented on #62
very nice

[2022-05-30 16:16] sammyjava commented on #63
OK this is completely bizarre. The addition of dataset_name/synopsis/description, organism_name/description, and strain_identifier/name/description to partial string indexing adds 5 hours to indexing! That's not much data, there are only 443 datasets, most of which have a description like "Further information provided in 10.1007/s00122-003-1449-z" from the soybase import. I'll add 'em back one by

[2022-05-31 13:24] sammyjava commented on #63
Smoking gun = organism. Theory:
[code]
I think that since the organism reference for every BioEntity is to be indexed, with organism partial matching it runs a partial match calculation on organism for EVERY BioEntity. Will test by commenting out that directive, we don't use synonyms and cross-references, anyway, and we don't want every glyma BioEntity to be returned for a search on "max".

[2022-05-31 14:45] sammyjava commented on #63
OK I'm done, clearly indexing BioEntity.organism is a Bad Idea. Glad I figured this out since I've struggled with indexing for ages. I'll add in more judicious choices of partial matches on names and descriptions. The search results may be a bit quicker as well, not sure. I did increase the RAM on the solr process as well, since it was silly I wasn't using the available on a dedicated VM.

[2022-05-31 14:45] #63 closed, assigned to sammyjava

[2022-05-31 16:22] sammyjava commented on #63
For the record, here are the "final" managed-schema text_ngram entries for soymine:
[code]

[2022-06-03 15:55] sammyjava commented on #65
@adf-ncgr can I rely on the protein-named transcript being type=mRNA in the GFF? Or do I have to drill through other transcripty types?

[2022-06-03 16:48] adf-ncgr commented on #65
I think you can rely on it (as much as anything else in gffland, anyway).

[2022-06-03 21:54] sammyjava commented on #65
**Collatoral Damage**
- [x] SequenceAnnotateUtil
- [x] funnotate buttons - HACK: limit to gene family identifiers that start with "legfed" (whatever that is)
- [x] gene family enrichment widget - in webconfig so EACH MINE
- [x] funnotate list analysis widget - same HACK

[2022-06-04 00:35] sammyjava opened #66 "lis-populate-genefamily-size"
This was a SQL post-process, but I've jettisoned those and now we need a quick little post-processor to tally the genes per gene family into GeneFamily.size.

[2022-06-05 00:25] sammyjava commented on #66
Done. https://github.com/legumeinfo/lis-bio-postprocess/commit/f307fe17e0327518dcecb95128056f82d4093e17

[2022-06-05 00:25] #66 closed, assigned to sammyjava

[2022-06-08 16:43] sammyjava commented on #56
Fixed in https://github.com/legumeinfo/lis-bio-sources/commit/220ba6d1c37d251d732e5d1924d69ec4a47ebd93 and will appear in future builds.

[2022-06-08 16:43] #56 closed, assigned to sammyjava

[2022-06-08 19:35] sammyjava commented on #65
In production as of https://github.com/legumeinfo/intermine/commit/891971b501ca450e11b2a9ca763ecf4b90534dc9

[2022-06-08 19:35] #65 closed, assigned to sammyjava

[2022-06-08 19:39] sammyjava commented on #54
This was done in 5.0.7.1.

[2022-06-08 19:39] #54 closed, assigned to sammyjava

[2022-06-08 19:50] sammyjava commented on #59
It's not a list size limit per se, here's an anonymous list I created with a query with 195k genes. So it's the List Upload...
![image](https://user-images.githubusercontent.com/5657219/172704635-59b4a53f-883f-4b4f-9933-386068fa4e50.png)

[2022-06-08 19:59] sammyjava commented on #59
It's set in global.web.properties at 100,000 for logged in and 99,999 for not logged in. That is overridden in web.properties. What should I set it to and on which mine for you to test it? `max.bag.size` and `max.bag.size.notloggedin`

[2022-06-09 19:07] sammyjava commented on #59
I can test it on a more recent prod mine (not LegumeMine) that I'm confident I can rebuild due to gradle versioning. Or just sit tight for the new LegumeMine, I'll just bump it to 200,000 there.

[2022-06-09 19:37] adf-ncgr commented on #59
OK, FWIW the mine I had wanted it on was CowpeaMine but I don't think it's a pressing issue for cowpeas at this point so whatever is most convenient for you is fine for me.

[2022-06-09 20:11] sammyjava commented on #59
That's 5.0.7.1 so duly updated, please confirm that it worked. I left not-logged-in at 99999 so you need to log in. Which you want to do anyway so you save your big list.

[2022-06-10 14:02] adf-ncgr commented on #59
a certain user has confirmed that it is working as expected on his list of ~143k genes.

[2022-06-10 14:02] #59 closed, assigned to sammyjava

[2022-06-10 19:20] sammyjava opened #67 "5.0.7.3 TO-DOs"
- [x] -Phylotree.name, +Phylotree.identifier - merge on identifier
- [x] -Phylonode.name, +Phylonode.identifier = phylotree identifier.number
- [x] -Newick.name, +Newick.identifier
- [x] -GeneFamily.name, +GeneFamily.identifier - merge on identifier
- [x] ProteinDomain extends Annotatable rather than BioEntity
- [x] prefix ProteinMatch and ProteinHmmMatch identifiers with gensp.strain.gnm.ann for

[2022-06-13 20:39] sammyjava commented on #67
@adf-ncgr let me know if you think of anything else as I"m going to go ahead with these for MiniMine and then LegumeMine. Pretty minor.

[2022-06-15 02:25] sammyjava commented on #67
Note: had to modify interpro loader because it defined ProteinDomain as BioEntity. Probably precedes the introduction of Annotatable.

[2022-06-15 17:30] sammyjava commented on #67
@adf-ncgr tell me what you think: https://dev.lis.ncgr.org/minimine/begin.do

[2022-06-16 16:44] sammyjava commented on #67
@adf-ncgr you have any problem with this? I got collisions loading LegumeMine because so many iprscan records have the same identifiers, by chance. Didn't catch it on MiniMine since I only had one iprscan file. I've been standardizing to unique primaryIdentifier within a class rather than using multiple keys. (I'm fine with prepending the yuck in this case, it's one line and the match IDs are arbi

[2022-06-16 16:57] adf-ncgr commented on #67
sorry, I got distracted from checking out minimine, but sounds like you're now asking if full yuck on iprscan records is OK? Seems reasonable to do so, I think I had done something to make sure the IDs were unique within a given file but had not thought about collisions between files. You can assign me the task of fixing existing files (and the process of generating them) if this is indeed what we

[2022-06-16 17:01] sammyjava commented on #67
No, ***do nothing***. I just wanted to check that you're OK with me prepending the yuck. Let's keep the iprscan files just as they are; those IDs are totally arbitrary anyway and don't really deserve LIS decoration in the datastore IMO.

[2022-06-16 17:02] sammyjava commented on #67
And this is in a new MiniMine build, will be done soon.

[2022-06-16 17:03] adf-ncgr commented on #67
OK, sounds good; nothing doing is generally my favorite way to contribute.

[2022-06-16 21:16] sammyjava commented on #67
Do you want Protein.proteinMatches to include HMM matches or have separate Protein.proteinHmmMatches? Typically it's not better to split things if they're similar (and they are).

[2022-06-16 21:18] sammyjava commented on #67
The idea behind that is that I'll just have ProteinHmmMatch extend ProteinMatch and Protein.proteinMatches includes both by inheritance. I think that's how I had it way back.

[2022-06-20 17:40] sammyjava commented on #67
+create-genefamilytally post-processor populates GeneFamily.size and creates GeneFamilyTally objects. Man, I'm rusty on post-processors, spent way too much time struggling with something I used to know. But got it in the end.

[2022-06-20 19:51] sammyjava commented on #67
![image](https://user-images.githubusercontent.com/5657219/174669454-4fdb9d24-55e3-4ea2-b7fd-4f05305b9fe2.png)

[2022-06-20 19:51] sammyjava commented on #67
I think I'll go ahead and promote MiniMine unless you have more recommendations for 5.0.7.3. I'd like to get chunking on LegumeMine before I vanish to the Old Country.

[2022-06-20 20:22] adf-ncgr commented on #67
chunk away!

[2022-06-21 17:40] #67 closed, assigned to sammyjava

[2022-06-24 20:11] adf-ncgr opened #68 "production soymine is missing dataset: G1134.gnm1.ann1.4BJM"
from Glycine/dolichocarpa, although it has the corresponding genome G1134.gnm1.PP7B

not sure if this means the gff had an issue or it just somehow got overlooked (but it's in the project.xml so probably not the latter). Anyway, perennial glycine fans can probably wait until @sammyjava is back

[2022-07-06 02:44] sammyjava commented on #68
Added.

[2022-07-06 02:44] #68 closed, assigned to nobody

[2022-07-07 18:40] sammyjava opened #69 "5.0.8.1 to-do's"
- [x] merge 5.0.8 in
- [x] add Region extends SequenceFeature, + isCircular attribute, GFF type region
- [x] add PseudoGene extends SequenceFeature SO:0000336, GFF type pseudogene
- [x] Expression changes
  - [x] lis-expression
  - [x] ExpressionSample BioEntity -> root class (not even Annotatable)
  - [x] ExpressionCollectionValidator.java
  - [x] file formats - samples.tsv.gz
    - [x] Cajanus/c

[2022-07-07 20:04] sammyjava commented on #64
Closing this since I'm building a new LegumeMine.

[2022-07-07 20:04] #64 closed, assigned to sammyjava

[2022-07-15 23:25] adf-ncgr opened #70 "MedicMine: not able to create list of things annotated by GO Term (annotatables)"
from https://mines.legumeinfo.org/medicmine/goterm:GO:0048364
I tried to create a list of the Ontology Annotations' Subjects (in this case, the elements are mostly mRNA features although I saw later that some ProteinDomains also appear), but when trying to create the list am given the error message:
 Error Service failed. Please contact support.

so I am contacting you, support me when convenient

[2022-07-18 16:00] adf-ncgr commented on #52
There seems to be some issue with cowpea mine and protein lists. I am able to create a list of proteins but in the list analysis page, nothing really seems to be getting populated (in particular, the option to POST sequences to funnotate gets no bootton to press, but it seems the issue is more fundamental since really nothing is displayed)

<img width="1036" alt="image" src="https://user-images.gi

[2022-07-18 16:26] sammyjava commented on #52
Definitely broken, I'll track it down.
[code]

[2022-07-18 16:32] sammyjava commented on #52
It's working on MiniMine so I think I'll just bump CowpeaMine to 5.0.7.3 rather than fix an old version. It's not a big mine, loads pretty fast.

[2022-07-19 17:19] sammyjava commented on #52
Hrm my checklist above didn't have struts-config-model.xml on it so I'm off the hook! :)

[2022-07-19 18:52] sammyjava commented on #52
OK I'm closing this since I've done the thing on all of the dev mines, the next prod versions should have Funnotatibility.

[2022-07-19 18:52] #52 closed, assigned to sammyjava

[2022-07-27 21:45] sammyjava opened #71 "Facets not appearing on keyword search results"
Posting this here so I can record the solution.

On 7/27/22 13:51, Andrew Farmer wrote:

[2022-07-27 21:47] sammyjava commented on #71
Aha. Fixed it. So, you'll recall that I enthusiastically did indexing timing tests using haldane so I was working with smaller delays. And I divined that this line was blowing up indexing because every single BioEntity was getting an Organism reference.
[code]
So I commented it out on most mines built since that discovery (prod BeanMine being before it). So not a release version thing but an indiv

[2022-07-27 21:53] sammyjava commented on #71
For the record here is what is actually run for faceting pleasure:
[code]

[2022-07-27 22:01] adf-ncgr commented on #71
what a terrible reward for your enthusiastic optimizations! Your solution seems reasonable to me. Can imagine adding mRNA to the list, but perfectly happy to wait until someone asks for it.

[2022-07-28 19:35] #71 closed, assigned to nobody

[2022-07-28 22:04] sammyjava commented on #69
[code]

[2022-07-28 22:13] sammyjava commented on #69
Including yet-to-be published cicar collections:
[code]

[2022-07-28 22:13] #69 closed, assigned to sammyjava

[2022-07-28 22:40] sammyjava opened #72 "Use full-yuck on all "stable" URIs"
Since random external software has the expectation that the primaryIdentifier will be used in the "stable" URI, consistently use primaryIdentifier in that.

This requires an update to the expression displayer and heatmap.

[2022-07-29 16:36] sammyjava commented on #72
Fixed in HeatmapController by adding genePrimaryIDMap to response which is used by heatMap.js to generate stable URIs.

[2022-07-29 16:36] #72 closed, assigned to sammyjava

[2022-08-08 19:31] adf-ncgr opened #73 "choice of type for upload list identifiers should probably always default to Gene"
for example https://mines.legumeinfo.org/cowpeamine/begin.do gives "Expression Sample" as the default type (which the unsuspecting user may not think to change).

[2022-08-08 20:09] sammyjava opened #74 "CDCFrontier.gnm2.ann1.9M1L lacks mrna FASTA"
### Validating cicar collection CDCFrontier.gnm2.ann1.9M1L
 - cicar.CDCFrontier.gnm2.ann1.9M1L.gene_models_main.gff3.gz
14:04:55 [main] INFO  org.biojava.nbio.genome.parsers.gff.GFF3Reader - Reading: /tmp/temp.gff3
 - cicar.CDCFrontier.gnm2.ann1.9M1L.protein.faa.gz
 - cicar.CDCFrontier.gnm2.ann1.9M1L.protein_primary.faa.gz
 - cicar.CDCFrontier.gnm2.ann1.9M1L.cds.fna.gz
 - cicar.CDCFrontier.gnm2.an

[2022-08-09 15:41] sammyjava commented on #73
So, those are the im:preferredBagType tagged objects which I tag for appearance on top of the query builder selector. But I agree that we should probably "go genomic" with those and just have Gene + Protein, which being alphabetical has Gene appearing first. If there is something else that comes after Gene alphabetically, feel free to suggest. I'll update those on all the mines right now, it's jus

[2022-08-09 15:41] #73 closed, assigned to nobody

[2022-08-09 19:40] adf-ncgr opened #75 "Medicmine keyword search broken"
probably solr indexing issue, query builder queries working fine

[2022-08-09 19:44] adf-ncgr opened #76 "XinJiangDaYe.gnm1.ann1.RKB9 genes loaded without descriptions"
datastore version looks OK to me, so not sure why they would be empty in the mine itself.

[2022-08-09 19:58] sammyjava commented on #76
Very weird. I'll rebuild it and look at that load carefully.

[2022-08-09 21:07] sammyjava commented on #75
Re-index seems to have fixed it.

[2022-08-09 21:07] #75 closed, assigned to nobody

[2022-08-10 14:30] sammyjava commented on #76
Well, for utterly mysterious reasons the descriptions loaded fine in a re-build. I have no idea what happened. It's a long load, still running, but I'll refresh 'er when done, probably Friday with the long post-process.

[2022-08-10 14:32] sammyjava commented on #42
I just bumped JointvetchMine to 5.0.8.1 and gene families are fine, etc.

[2022-08-10 14:32] #42 closed, assigned to nobody

[2022-08-10 14:43] sammyjava commented on #70
This query 500's but runs fine in query builder:
[code]

POST https://mines.legumeinfo.org/medicmine/service/query/tolist
[HTTP/1.1 500 500 111ms]

executionTime	"2022.08.10 08:44::43"
wasSuccessful	false
error	"Service failed. Please contact support."
statusCode	500

[2022-08-10 14:53] sammyjava commented on #70
From the command line:
[code]
returns a 401 auth error, not 500, but still fails:
[code]

[2022-08-10 14:54] sammyjava commented on #70
I think this is a serious core bug in IM. Still the case in 5.0.8.1 LegumeMine.

[2022-08-10 15:00] sammyjava commented on #70
GAH I can't test it on legacy FlyMine because they don't show the Ontology Annotations on a GO Term page. :( I want to throw this one at Daniela.

@danielabutano have you come across this bug? Attempting to create a list of subjects from a table of ontology annotations on a GO Term report errors out on /service/query/tolist while the query itself runs fine from the query builder. Running it from t

[2022-08-10 15:46] adf-ncgr commented on #76
OK, thanks; the ways of the mines are mysterious, but they maketh the faithful to rejoice

[2022-08-13 17:38] sammyjava commented on #76
5.0.8.1 public now, has descriptions.

[2022-08-13 17:38] #76 closed, assigned to sammyjava

[2022-08-13 20:57] adf-ncgr commented on #76
thanks! came in just as I was discussing gene content of XinJiangDaYe with our USDA collaborator on alfalfa genomics.

[2022-08-16 17:56] sammyjava opened #77 "CMap-JS bluegenes tool"
Just a reminder to self that this is a thing to do.

[2022-08-18 21:42] sammyjava opened #78 "REST API query with jsonobjects is broken"
Note to self since I have to roll: I think it's in the assignment of id to simple objects, getting non-unique ids with `ResultElement.setSimpleCellId()` which breaks the result in random ways (since the id has random number generation). However having trouble fixing it right now, will pick up when I get back. I don't think there is any other randomness in the process.

[2022-08-18 21:43] sammyjava commented on #78
@danielabutano FYI I think I found the bug but I have to head home for vacation prep, will pick up in a couple weeks. Should be a pretty minor fix.

[2022-08-18 21:49] sammyjava opened #79 "Data collections page is janky"
https://mines.legumeinfo.org/peanutmine/dataCategories.do

Needs to elegantly handle long collection names and descriptions.

[2022-08-26 18:43] adf-ncgr opened #80 "latest build of MedicMine does not include the MtGEA expression data"
probably because this was done as a one-off and was never represented in the datastore proper. But, I just had a user asking about the MtGEA data which made me realize the omission. Luckily, I can point interested parties to the MtExpress site for their immediate needs, but it would be good to restore this important dataset- we could certainly discuss making it a real citizen of the datastore if i

[2022-08-30 01:38] adf-ncgr commented on #80
actually, looks like you already had put this data in the datastore:
/Medicago/truncatula/expression/A17_HM341.gnm4.ann2.expr.He_Vagner_2009/README.A17_HM341.gnm4.ann2.expr.He_Vagner_2009.yml
so, I guess you just forgot about loading it...

[2022-09-06 18:54] sammyjava commented on #80
Added. (But still keyword reindexing.)

[2022-09-06 18:54] #80 closed, assigned to sammyjava

[2022-09-12 16:01] sammyjava opened #81 "5.1.0.1 updates"
- [x] merge in 5.1.0
- [x] enforce Annotatable.**primaryIdentifier** as required and unique; use non-Annotatable **identifier** for non-unique identifiers
- - LinkageGroup (identifier,geneticMap)
- - Trait (name,qtlStudy), (name,gwas) (has ontologyTerms collection)
- - QTL (identifier,qtlStudy)
- [x] QTLStudy.geneticMap is a reference, not attribute (!)
- [x] GeneticMap.dataSet**s**
- [x] integrat

[2022-09-13 19:48] #79 closed, assigned to sammyjava

[2022-10-11 07:56] sammyjava commented on #68
Yeah I musta missed that it bombed in the scroll. Easy to add in once it's
fixed.

On June 24, 2022 21:11:35 adf-ncgr ***@***.***> wrote:

[2022-10-12 14:49] adf-ncgr opened #82 "cowpea mine expression display small issues"
- [x] bar chart bars when moused over are giving unhelpful descriptions ("SRRxxx : undefined"); the heat map is a little better in this regard
- [x] heat map genes are not linking properly to the gene report pages (absence of full yuck in the targeted URL)

I haven't checked whether other mines with expression are behaving similarly or not.

[2022-10-12 19:04] sammyjava opened #83 "Pg errors storing Newick (legume.genefam.fam1.M65K.trees_ML_rooted) and ProteinDomain (interpro)"
Mainly a note to self for the moment.

I don't think we need to store the Newick since I'm linking off to a tree viewer elsewhere in the LIS galaxy. I don't know what has changed, these sources loaded fine before. Perhaps some Pg update changed index defaults. Will investigate.

[code]

[code]

[code]

[2022-10-13 13:57] sammyjava commented on #83
Weird. Blew away the db, created a new one and loaded these two sources fine. No idea.

[2022-10-13 13:57] #83 closed, assigned to sammyjava

[2022-10-13 13:57] #81 closed, assigned to sammyjava

[2022-10-20 13:15] sammyjava opened #84 "Mines lack PFAM, Gene3D, and PANTHER data"
I should be loading the latest greatest PFAM, Gene3D, and PANTHER ontologies to provide descriptions for the IDs carried in the gene GFFs and protein FASTAs. Thanks @maxglycine for pointing this out!

Sources added to bio/sources:
- [x] PFAM = pfam
- [ ] Gene3D
- [x] PANTHER

[2022-10-20 13:17] sammyjava commented on #78
I fixed this and submitted a PR to core IM.

[2022-10-20 13:17] #78 closed, assigned to sammyjava

[2022-10-20 15:07] sammyjava opened #85 "Sequence feature displayer seems to be broken"
Just spins on recent mines, also doesn't show data on SoyMine.

[2022-10-24 21:23] sammyjava opened #86 "5.1.0.1 more updates"
- [x] ProteinMatch must extend BioEntity since Location requires BioEntity on both sides; currently breaks Protein.locatedFeatures.
- [x] ExpressionSource.bioProject --> attribute (we don't load anything other than accession from README)
- [x] add bioProject attributelink in web.properties
- [x] Pathway.stableIdentifier = Plant Reactome "stable" identifiers, e.g. R-OSA-1119289, for link out
- [x]

[2022-10-24 22:02] sammyjava opened #87 "Data Categories: GWAS and QTL Studies (not "Other")"
Enshrine GWAS and QTL studies in their own categories rather than under "Other".

[2022-10-25 17:12] sammyjava opened #88 "FASTA-derived objects lack name and description"
I'm thinking of copying over the ABCDEFG gene's name and description to the ABCDEFG.n CDS, mRNA, and protein in a post-processor.

@adf-ncgr speak now if against this else hold peace for a reasonable duration.

[2022-10-25 18:13] sammyjava commented on #87
Fixed and pushed to mine-webapp repo.

[2022-10-25 18:13] #87 closed, assigned to sammyjava

[2022-10-26 22:17] sammyjava opened #89 "GOTerm report page OntologyAnnotations OUTER join breaks query (fine if switched to INNER joins)"
This is the first time I've noticed this. I've got the stock definition of GOTerm:
[code]
On a GOTerm report page, the OntologyAnnotations table is broken:
![image](https://user-images.githubusercontent.com/5657219/198146241-8d89870b-d537-4a51-8ff1-13e2faff801f.png)
this is reproduced if I run the query using the HTTP API from the command line. So it's server-side, and the Javascript console just

[2022-10-26 22:18] sammyjava commented on #89
I was going to submit this to InterMine, but they're still using the bespoke GOAnnotation class and also don't display the subject-term in the OntologyAnnotations table. So this bug isn't revealed on FlyMine, which means I can't ask them to fix it (if they were still working on InterMine).

[2022-10-26 22:21] sammyjava commented on #88
This is done, but a post-processor isn't needed, it's done in the lis-annotations source since mRNAs are loaded there as well, which have the same identifier as the protein and the full CDS from FASTAs, and the gene is known as the parent.

[2022-10-26 22:21] #88 closed

[2022-10-26 22:23] sammyjava commented on #88
Changed my mind. Name should be something explicitly provided in the GFF (as it typically is) or on the FASTA header. :) Reverted to leaving them alone.

[2022-10-27 17:41] sammyjava commented on #89
NTS: this is NOT a SQL error. Nothing shows in the postgres log. It's a 500 generated by IM Java somewhere.

[2022-10-27 20:21] sammyjava commented on #89
This does NOT work:
[code]
and this does NOT work:
[code]
while this DOES work (JCVI_TIGRFAMS):
[code]

[2022-10-27 22:23] sammyjava commented on #89
So, by sleuthing, I found that only the GO terms that appear in the LIS gene families (n=1672) exhibit the problem. For example:

https://dev.lis.ncgr.org/beanmine/report.do?id=2020217

While GO terms that do not appear in LIS gene families (n=43118) do not have the problem, e.g.

https://dev.lis.ncgr.org/beanmine/report.do?id=105685584

What's the difference? GO terms sourced from LIS gene famili

[2022-10-27 22:23] #89 closed, assigned to nobody

[2022-10-27 22:27] sammyjava commented on #86
I'm going to add these to 5.1.0.1 since BeanMine is the only public prod mine on 5.1.0.1 (and I'd like to rebuild it, anyway). I deleted the 5.1.0.1 tag for now. Onward.

[2022-10-27 22:34] sammyjava commented on #86
Rebuild, rename, and promote:
- [x] minimine
- [x] chickpeamine -> CicerMine
- [x] beanmine -> PhaseolusMine
- [x] legumemine
- [x] cowpeamine -> VignaMine
- [x] jointvetchmine -> AeschynomeneMine
- [x] lentilmine -> LensMine
- [x] lupinmine -> LupinusMine
- [x] medicmine -> MedicagoMine
- [x] peanutmine -> ArachisMine
- [x] pigeonpeamine -> CajanusMine
- [x] soymine -> GlycineMine

[2022-10-30 16:37] sammyjava opened #90 "Bluegenes: phylotree displayer"
Implement the phylotree displayer using the NPM module and porting PhylotreeDisplayer.java.

[2022-10-31 15:37] sammyjava opened #91 "lis-genefamily: process README"
@cann0010 updated the README to include the publication so the README should be processed.

[2022-10-31 16:38] sdash-github opened #92 "PeanutBase logo at PeanutMine should point back to PB like the LIS logo does"
There are two logos here: for LIS and PB. This would make it more convenient for PB users to go back to PB.

[2022-10-31 17:32] sammyjava commented on #92
Use existing logo for a new PeanutBase header link; use a different peanut picture for PeanutMine.

[2022-10-31 20:12] sammyjava commented on #92
Done.

[2022-10-31 20:12] #92 closed, assigned to sammyjava

[2022-11-01 19:53] #91 closed, assigned to sammyjava

[2022-11-02 17:07] sammyjava opened #93 "GeneBarchartDisplayer: color rep groups"
Now that we have rep groups.

[2022-11-21 15:31] #93 closed, assigned to sammyjava

[2022-11-21 16:34] sammyjava commented on #85
This didn't reproduce.

[2022-11-21 16:34] #85 closed, assigned to sammyjava

[2022-11-21 17:51] sammyjava commented on #82
Check out the new barchart displayer, now colors based on rep group (and sorts by rep group, name). Haven't done anything to the heat map yet.

[2022-11-21 17:52] sammyjava commented on #84
Gene3D is a mess, as far as I can tell, so gonna punt on that one.

[2022-11-21 17:52] #84 closed, assigned to sammyjava